MONGODB_URI=mongodb+srv://gaddamsai7989_db_user:6vTpvsCYXAf2iZPh@medi.jkzdxap.mongodb.net/?appName=medi
PORT=3000
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET_NAME=your_bucket_name
S3_URL_EXPIRATION=3600
